In [4]:
import pandas as pd

In [41]:
#Задание № 1

logs = pd.read_csv('C:/Python/Netology/x-files/visit_log.csv', sep = ';')
logs.head()

def source_type(df):
    if df['traffic_source'] == ('yandex' or 'google') :
        return 'organic'
    elif df['region'] == 'Russia' and df['traffic_source'] == 'paid':
        return 'ad'
    elif df['region'] != 'Russia' and df['traffic_source'] == 'paid':
        return 'other'
    else:
        return df['traffic_source']   

logs['source_type'] = logs.apply(source_type, axis = 1)

logs.tail()

,timestamp,visit_id,url,region,user_id,traffic_source,source_type
18933,1550094288,57e5ba8560,https://host.ru/c2382eb3d6afc8d0f3,Belarus,98b19810d0,paid,other
18934,1550094296,6f9389ec1b,https://host.ru/f1eb4601740d627ab0,Russia,32ebb20c13,paid,ad
18935,1550094308,e8cf2eb8e6,https://host.ru/a5dda93e70318570c0,Belarus,b85baa8c73,yandex,organic
18936,1550094314,79530b9a67,https://host.ru/6fda01ec57f23abc9e,Russia,e154b06121,paid,ad
18937,1550094323,b3b634f824,https://host.ru/39fa884393666d45fc,Russia,7d27a58fb8,email,email

In [29]:
# Задание № 2

import re

URLs = pd.read_csv('C:/Python/Netology/x-files/URLs.txt')

URLs[URLs['url'].str.contains(r'/\d{8}-')]

                                                  url
3   /politics/36188461-s-marta-zhizn-rossiyan-susc...
4   /world/36007585-tramp-pridumal-kak-reshit-ukra...
5   /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6   /video/36001498-poyavilis-pervye-podrobnosti-g...
7   /world/36007585-tramp-pridumal-kak-reshit-ukra...
..                                                ...
88  /cis/35984145-kreml-prokommentiroval-soobschen...
89  /video/36071019-olimpiyskie-obekty-rio-prevrat...
90  /science/36151301-nazvano-posledstvie-zloupotr...
91  /incidents/36027330-vospitatelnitsu-zatravili-...
92  /world/36103095-dominikanskih-zhurnalistov-ubi...

[84 rows x 1 columns]

### В 3 задании не могу понять в каком направлении дальше двигаться создать цикл или для решения есть 
### инструменты в библиотеке. Либо изначально решение не верное?

In [205]:
# Задание № 3

ratings = pd.read_csv('C:/Python/Netology/x-files/ml-latest-small/ratings.csv')

#'''считаем кол-во оценок для каждого пользователя'''
filt_100 = ratings.groupby(['userId']).count()[['rating']].reset_index()

#'''оставляем только со 100 и выше оценок'''
filt_100 = filt_100[filt_100['rating'] >= 100]

#'''убираем лишние столбцы'''
filt_100 = filt_100[['userId']]

#'''соединяем с основной таблицей, чтобы остались только нужные пользователи'''
filt_100 = filt_100.merge(ratings, how = 'left')


filt_100.groupby(['userId', 'timestamp']).mean().head()


# filt_100.head()

                  movieId  rating
userId timestamp
4      949778714   1972.0     4.5
       949778771   1557.5     5.0
       949778802    289.0     4.0
       949778946   3208.0     2.0
       949779022    858.0     5.0

In [107]:
# Задание № 4

rzd = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115],
        'rzd_revenue': [1093, 2810, 10283, 5774, 981]
    }
)

auto = pd.DataFrame(
    {
        'client_id': [113, 114, 115, 116, 117],
        'auto_revenue': [57483, 83, 912, 4834, 98]
    }
)

air = pd.DataFrame(
    {
        'client_id': [115, 116, 117, 118],
        'air_revenue': [81, 4, 13, 173]
    }
)

client_base = pd.DataFrame(
    {
        'client_id': [111, 112, 113, 114, 115, 116, 117, 118],
        'address': ['Комсомольская 4', 'Энтузиастов 8а', 'Левобережная 1а', 'Мира 14', 'ЗЖБИиДК 1', 
                    'Строителей 18', 'Панфиловская 33', 'Мастеркова 4']
    }
)

In [159]:
stat = pd.concat([air,auto,rzd])
stat = stat.pivot_table(index = 'client_id', fill_value = 0).reset_index()
stat

   client_id  air_revenue  auto_revenue  rzd_revenue
0        111            0             0         1093
1        112            0             0         2810
2        113            0         57483        10283
3        114            0            83         5774
4        115           81           912          981
5        116            4          4834            0
6        117           13            98            0
7        118          173             0            0

In [166]:
client_base.merge(stat, how = 'left')

   client_id          address  air_revenue  auto_revenue  rzd_revenue
0        111  Комсомольская 4            0             0         1093
1        112   Энтузиастов 8а            0             0         2810
2        113  Левобережная 1а            0         57483        10283
3        114          Мира 14            0            83         5774
4        115        ЗЖБИиДК 1           81           912          981
5        116    Строителей 18            4          4834            0
6        117  Панфиловская 33           13            98            0
7        118     Мастеркова 4          173             0            0