In [2]:
import pandas as pd

In [ ]:
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [53]:
# Задание 1

ratings = pd.read_csv('C:/Python/Netology/x-files/ml-latest-small/ratings.csv')

def classific(rating):
    if int(rating) <= 2:
        ratings['class'] = 'низкий рейтинг'
    elif int(rating) <= 4:
        ratings['class'] = 'средний рейтинг'
    elif int(rating) <= 5:
        ratings['class'] = 'высокий рейтинг'
    return   
        
ratings['rating'].head().apply(classific)
ratings

        userId  movieId  rating   timestamp            class
0            1       31     2.5  1260759144  средний рейтинг
1            1     1029     3.0  1260759179  средний рейтинг
2            1     1061     3.0  1260759182  средний рейтинг
3            1     1129     2.0  1260759185  средний рейтинг
4            1     1172     4.0  1260759205  средний рейтинг
...        ...      ...     ...         ...              ...
99999      671     6268     2.5  1065579370  средний рейтинг
100000     671     6269     4.0  1065149201  средний рейтинг
100001     671     6365     4.0  1070940363  средний рейтинг
100002     671     6385     2.5  1070979663  средний рейтинг
100003     671     6565     3.5  1074784724  средний рейтинг

[100004 rows x 5 columns]

### Вопрос по первому заданию: столбец rating это оценка пользователя и надо было посчитать для каждого фильма среднее значение? И почему код долго работает это связанно с большим объемом или неправильным кодом?

In [41]:
# Задание 2

keywords = pd.read_csv('C:/Python/Netology/x-files/ml-latest-small/keywords.csv')
keywords.head()

geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}


def regions(inquiry):
    '''гео-классификатор, который каждой строке сможет выставить географическую принадлежность
    определенному региону. Т. е. если поисковый запрос содержит название города региона,
    то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит
    названия города, то ставим ‘undefined’.'''
    
    
    for reg, cities in geo_data.items():
        for city in cities:
            if city in inquiry:
                return reg
            else:
                return 'undefined'
    
keywords['region'] = keywords['keyword'].apply(regions)

keywords.sort_values(by = 'region').tail()

                                      keyword  shows region
56742          гидрометцентр москва на неделю   6271  Центр
2806                 циан недвижимость москва  78729  Центр
56744                       планетарий москва   6280  Центр
80765  проезд в метро цена 2017 тарифы москва   4434  Центр
49999                            avito москва   6876  Центр