In [3]:
import pandas as pd

In [62]:
# Задание 1

In [72]:
ratings = pd.read_csv('C:/Python/Netology/x-files/ml-latest-small/ratings.csv')

top_rating = ratings.sort_values(by = ['rating','userId'],ascending = [True, False]).head(1)
top_rating
top_rating.filter(items=['movieId'])

        movieId
100345    61818

In [69]:
movies = pd.read_csv('C:/Python/Netology/x-files/ml-latest-small/movies.csv')
movies[movies.movieId == 61818]

,movieId,title,genres
6849,61818,"Crow, The: Wicked Prayer (2005)",Action|Adventure|Fantasy|Thriller

### Вопрос по первому заданию: Как в строку    "movies[movies.movieId == 61818]"    вместо числа поставить "top_rating.filter(items=['movieId'])"  точнее как выделить одно число без номера строки и имени столца?

In [ ]:
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония)
категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [77]:
# Задание 2

In [4]:
#'''поиск названия стран в датафрейме'''

power = pd.read_csv('C:/Python/Netology/x-files/Pandas/power.csv')
power[ power['country'].str.contains('lit', case=False) ]['country'].unique()
#'Latvia'
#'Lithuania'
#'Estonia'

array(['Lithuania'], dtype=object)

In [13]:
filtered_countries = power[ (power['country']=='Latvia') | (power['country']=='Lithuania') | (power['country']=='Estonia') ]
filtered_quantity = filtered_countries[(filtered_countries['quantity'] > 0) & (filtered_countries['year'] > 2005) & (filtered_countries['year'] < 2014)]
filtered_categories = filtered_quantity[(filtered_quantity['category'] == 4) | (filtered_quantity['category'] == 12) | (filtered_quantity['category'] == 21)]
filtered_categories['quantity'].sum()

328111.0

In [16]:
# Задание 3

pd.read_html('https://fortrader.org/quotes')[1]

,Название,Цена,Изменение,Изменение(%),Обновлено
0,Нефть Brent Курс нефти сегодня,73.20,0.02,0.03,NaN
1,Нефть WTI Цены на нефть WTI,71.39,-0.11,-0.15,NaN
2,Природный газ Цена на природный газ,3.23,-0.01,-0.22,NaN
3,Кофе,149.80,0.00,0.00,NaN
4,Кукуруза,652.40,-5.20,-0.79,NaN
5,Соя,371.40,-2.70,-0.72,NaN
6,Хлопок,85.18,0.00,0.00,NaN